[data-theme="dark"] {
  --surface-page:        var(--gray-950);
  --surface-card:        var(--gray-900);
  --surface-card-border: var(--gray-800);
  --border-subtle:       var(--gray-800);
  --icon-bg:             var(--gray-850);
  --icon-border:         var(--gray-750);

  --emphasis-extra-high: var(--gray-0);
  --emphasis-high:       var(--gray-200);
  --emphasis-medium:     var(--gray-400);
  --emphasis-low:        var(--gray-400);
  --emphasis-extra-low:  var(--gray-500);
}
